<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060568895786-ueh1feochp50giqqm4b46vrki4gq0m9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060568895786-ueh1feochp50giqqm4b46vrki4gq0m9d</string>
	<key>API_KEY</key>
	<string>AIzaSyANWpBrVEBS-abx1u9zlRK0ltXQdSDI95k</string>
	<key>GCM_SENDER_ID</key>
	<string>1060568895786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.SL.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-27b22</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-27b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060568895786:ios:064349d3a2735544e68e53</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-27b22.firebaseio.com</string>
</dict>
</plist>